127.0.0.1 localhost
{{ groups.all[0] }} sd-161594.dedibox.fr hypervisor-1
{{ groups.all[1] }} sd-161607.dedibox.fr hypervisor-2
{{ groups.all[2] }} sd-161610.dedibox.fr hypervisor-3

::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

